body {
    width: 600px;
    margin: auto;
    font-family: lato, sans-serif;
}

main {
    width: 60%;
    margin: auto;
}

header,
footer {
    background-color: rgba(27, 26, 26, 0.888);
    text-align: center;
    color: white;
    padding: 1px;
    font-size: 1.2rem;
    margin: 10px;
}

footer {
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

img {
    width: 100%;
    margin: auto;
    box-shadow: 0 0 30px #999;
}

section {
    width: 90%;
    background-color: #3635354e;
    padding: 5%;
    margin: 20px auto;
}

h2 {
    border-bottom: 1px solid black;
}

section p {
    margin-left: 15px;
}

section ul {
    margin-left: -10px;
}